<html>
    <head>
        <meta charset="utf-8" />
        <title>Trama - {{post.title}}</title>
        <style>
            header {
                overflow: auto;
            }
            header table {
                float: left;
            }
            header table:last-child {
                float: right;
            }
            header table td {
                padding-left: 10px;
            }
            header table td:first-child {
                padding-left: 0;
            }
        </style>
    </head>
    <body>
        <header>
            <table>
                <tr>
                    <td><a href="/groups">Groups</a></td>
                    <td><a href="/groups/{{post.group}}">{{post.group}}</a></td>
                    {% if logged %}
                    <td><a href="/groups/{{post.group}}/create_post">Create post</a></td>
                    {% end %}
                </tr>
            </table>
            <table>
                <tr>
                    {% if logged %}
                    <td><a href="/users/{{username}}">{{username}}</a></td>
                    {% else %}
                    <td><a href="/login">Log-in</a></td>
                    {% end %}
                </tr>
            </table>
        </header>
        <main>
            <table>
                <tr>
                    <td>Title</td>
                    <td>Body</td>
                </tr>
                <tr>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                </tr>
            </table>
        </main>
    </body>
</html>